{% extends 'news/base.html' %}

<!DOCTYPE html>
<html>
    <head>
    {% load i18n %}
    </head>
    <body>
        {% block content %}
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-xxl-6 col-xl-7 col-md-9">
                    <h2>{{article.title}}</h2>
                    <h6>{% trans "Автор" %}: {{article.author.user.first_name}} {{article.author.user.last_name}}</h6>
                    <h6>{{article.date}}</h6>
                    <img src="{{article.cover_image.url}}" class="img-fluid my-3" alt="cover image">      
                    <div class="text-justify article-text">
                        {{article.text|safe}}
                    </div>
                </div>
            </div>
            {% if recommendations|length > 0 %}
                <div class="row d-flex justify-content-center">
                    <div class="col-xxl-6 col-xl-7 col-md-9">
                        <hr>
                        <h3>{% trans "Читайте також" %}:</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    {% for recommendation in recommendations %}
                    <div class="col-xxl-2 col-sm-3 border rounded m-2 p-0 shadow-sm">
                        <a href="{% url 'article' article_title=' ' article_id=recommendation.id %}" class = "text-reset text-decoration-none">
                            <img src="{{ recommendation.cover_image.url }}" class="img-fluid">
                            <h6 class="hover-text m-2">{{recommendation.title}}</h6>
                        </a>
                    </div>                
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>