{% extends 'news/base.html' %}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {% block content %}
        <div class="container-fluid h-100 mt-2">
            <div class="row d-flex justify-content-center mx-2">
                <div class="col-xxl-6 col-xl-8">
                    <div class="row">
                        {% for article in article_list %}
                        <div class="col-md-6 d-flex">
                            <div class="m-2 border rounded shadow-sm d-flex flex-column w-100">
                                <a href="{% url 'article' article_title=' ' article_id=article.id %}" class = "text-reset text-decoration-none d-flex flex-column h-100">
                                    <h5 class="m-2 mb-1 flex-grow-1 hover-text">{{article.title}}</h5>
                                    <div class="d-flex justify-content-center">
                                        <hr class="mx-3 w-100">
                                    </div>
                                    <div class="d-flex align-items-end">
                                        <div class="row d-flex align-items-center m-2">
                                            <div class="col-3">
                                                <img class="rounded-circle img-fluid" src = "{{article.author.photo.url}}" alt="author photo">
                                            </div>
                                            <div class="col">
                                                <h5>{{article.author.user.first_name}} {{article.author.user.last_name}}</h5>
                                                <h6 class="text-secondary">{{article.author.role}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% include 'news/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>