{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% block content %}
        <div class="container-fluid">
            <div class="row d-flex flex-column align-items-center">
                <div class="col-xxl-6 col-lg-8">
                    <form method="GET" class="d-flex mb-1 mt-3">
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex w-100 my-2">
                                {{form.search}}
                                <input type="image" src="{% static 'news/images/search.svg' %}" class="btn ms-2 p-2" alt="search">
                            </div>
                            <div class="d-flex my-2">
                                <div class="me-4">
                                    {{form.date_start.label}}
                                    {{form.date_start}}
                                </div>
                                <div>
                                    {{form.date_stop.label}}
                                    {{form.date_stop}}
                                </div>
                            </div>
                        </div>
                    </form>
                    {% if page_obj %}               
                        {% for article in page_obj.object_list %}
                        <a href="{% url 'article' article_title=' ' article_id=article.id %}" class="text-reset text-decoration-none">
                            <div class="row my-3 border rounded shadow-sm">              
                                <div class="col-9">
                                    <h6 class="mt-1 text-secondary">{{article.date}}</h6>
                                    <h5 class="hover-text">{{article.title}}</h5>
                                </div>
                                <div class="col-3 px-0">
                                    <img src="{{article.cover_image.url}}" class = "img-fluid rounded">
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    {% else %}
                    <h4>{% trans 'За Вашим запитом нічого не знайдено' %}</h4>
                    {% endif %}
                    {% include 'news/pagination.html' %}
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>