.navbar-logo{
    height: 41px;
}

.active{
    border-bottom: 3px solid black;
}

.nav-hover:hover{
    color: #474d54 !important;
}

.text-justify{
    text-align: justify;
}

.article-text{
    font-size: 18px;
}

.article-text p {
    margin-bottom: 0px;
    text-indent: 1.25cm;
}

.social-media-icon{
    height: 46px;
    margin: 12px;
}

.hover-text:hover{
    color: #474d54;
}

.w-97{
    width: 97%;
}

.enemy-losses-total{
    font-size: 14px;
}

.enemy-losses-increase{
    font-size: 11px;
}

.enemy-losses-informer{
    overflow-x: scroll;
}

.enemy-losses-item{
    min-width: 109px;
}